<center>
    <br>
    <p style="color: #d46e00; font-style: bold; font-family: Cambria, Georgia; font-size: 36px; font-weight: bold;">What's Our Deal Anyway?</p>
     <hr>


<div style="background: #d46e00; width: 97%; padding: 10px; color: #001316; font-size: 16px; font-weight: bold; font-family: 'Trebuchet MS', Georgia; -moz-border-radius: 15px; border-radius: 15px;">

  <div style='text-align:left;'>
  <hr>
    <span style="color: #ffffff;font-size: 22px;">
	  <center>
		For the Artist<br><hr>
	  </center>
    </span>
  </div>


<div style='text-align:left;'>
  <p>
    <li>
		We offer you a sweet profile with 50Mb of space to upload either full tracks or excerpts. That's quite a wodge of air-time if you're using FLAC or LAME encoding. You'll have access to stats and tools via your very own personal web panel.
	</li>
  </p>
</div>
  <br>
  <br>
<div style='text-align:left;'>
  <p>
    <li>
		Once you've uploaded and presented your work it is immediately accessible to both other local artists, and more importantly to our consumer audience. If you sell one of your pieces then you have the option of using our professional re-mastering service. Or if you prefer, you can supply a finalised master of your own to the client. You are in control of your own music at all times.
    </li>
  </p>
  

  
</div>
  <br>

  <div style='text-align:left;'>
  <hr>
    <span style="color: #ffffff;font-size: 22px;">
	  <center>
		For the Producer<br><hr>
	  </center>
    </span>
  </div>



<div style='text-align:left;'>
  <p>
    <li>
		We take care of all the necessary details to make sure that what you're presented with are original licensed works. You can even browse by license type if all you're looking for is a simple quit claim on some Foley.
    </li>
  </p>
</div>
<br>
<div style='text-align:left;'>
  <p>
    <li>
		Any fees or contracts entered in to with our artists is notarized diligently by SoundBank. Instant gratification is our game. We offer a satisfying click to buy system which issues you with an immediate digital license. We guarantee you'll be hard pushed to find a more reasonably priced body of original work anywhere else on the island. 
    </li>
  </p>
</div>
<br>

  <div style='text-align:left;'>
  <hr>
    <span style="color: #ffffff;font-size: 22px;">
	  <center>
		For the Editor<br><hr>
	  </center>
    </span>
  </div>


<div style='text-align:left;'>
  <p>
    <li>
		We provide a well organised browsing experience for narrowing down your choice of material. Each recording is supplied with a host of information to help you meet your projects needs. Everything, including runtime, previous usage and pricing will be presented to you before you even hit the play button. All audio is intuitively nested into clear, easily navigated categories.
	</li>
  </p>
</div>
  <br><br>
<div style='text-align:left;'>
  <p>
    <li>
		And of course you'll be able to hear and download individual tracks right away for testing against your project. Whether you want to beef up the sFx a bit, or find an excellent tune to set off your animation. SoundBank is the place to be.
    </li>
  </p>
</div>
  <br>

</div>
</center>