	
	<style>

#mybgcarousel{ /* CSS for specific carousel container called #mybgcarousel. */
width:100%;
height:215px;
}

/* ######### Shared CSS for various parts of carousel (in the event of multiple carousels) ######### */

div.bgcarousel{ /* shared CSS for main carousel container */
background: black url(/assets/ajaxload.gif) center center no-repeat; /* loading gif while caoursel is loading */
}

div.bgcarousel img.navbutton{ /* CSS for the nav buttons */
}

div.bgcarousel div.slide{ /* CSS for each image's DIV container within main container */
background-color: black;
background-position: center center; /* center image within carousel */
background-repeat: no-repeat;
background-size: cover; /* CSS3 property to scale image within container? "cover" or "contain" */
color: black;
}

div.bgcarousel div.selectedslide{ /* CSS for currently selected slide */
}

div.bgcarousel div.slide div.desc{ /* DIV that contains the textual description inside .slide */
position: absolute;
color: white;
left: 40px;
top: 100px;
width:200px;
padding: 10px;
font: bold 16px sans-serif, Arial;
text-shadow: 0 -1px 1px #8a8a8a; /* CSS3 text shadow */
z-index:5;
}

div.bgcarousel div.selectedslide div.desc{ /* CSS for currently selected slide's desc div */
}

div.bgcarousel div.slide div.desc h2{
font-size:150%;
margin:0;
}

div.bgcarousel div.slide div.desc a{
color:yellow;
text-decoration:none;
}

</style>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="../assets/jquery.velocity.min.js"></script>
<script type="text/javascript" src="../assets/jquery.touchSwipe.min.js"></script>

<script src="../assets/bgcarousel.js" type="text/javascript">

/***********************************************
* Background Image Carousel- © Dynamic Drive (www.dynamicdrive.com)
* This notice MUST stay intact for legal use
* Visit http://www.dynamicdrive.com/ for this script and 100s more.
***********************************************/

</script>

<script type="text/javascript">

var firstbgcarousel=new bgCarousel({
	wrapperid: 'mybgcarousel', //ID of blank DIV on page to house carousel
	imagearray: [
		['/assets/slider1.jpg', ''], //["image_path", "optional description"]
		['/assets/slider2.jpg', ''],
		['/assets/slider3.jpg', ''],
		['/assets/slider4.jpg', ''],
		['/assets/slider5.jpg', ''] //<--no trailing comma after very last image element!
	],
	displaymode: {type:'auto', pause:5000, cycles:0, stoponclick:false, pauseonmouseover:false},
	navbuttons: ['..//assets/left.gif', '..//assets/right.gif', '..//assets/up.gif', '..//assets/down.gif'], // path to nav images
	activeslideclass: 'selectedslide', // CSS class that gets added to currently shown DIV slide
	orientation: 'h', //Valid values: "h" or "v"
	persist: true, //remember last viewed slide and recall within same session?
	slideduration: 500 //transition duration (milliseconds)
})

</script>

<center>
  <div id="mybgcarousel" class="bgcarousel"></div>
    <br>
    <p style="color: #dd4814; font-style: bold; font-family: Cambria, Georgia; font-size: 36px; font-weight: bold;">Welcome to SoundBank</p>
     <hr>


<div style="background: #FFFFFF; width: 97%; padding: 10px; color: #dd4814; font-size: 16px; font-weight: bold; font-family: 'Trebuchet MS', Georgia; -moz-border-radius: 15px; border-radius: 15px;">
		<p>SoundBank is an on-demand, streaming library of original recordings. All neatly catalogued and focused into a single, awesome web application. It makes no difference whether you're looking for a sound effect, a wildtrack or a kick-ass piece of music. It's only a couple of clicks away.</p>
  <br>
		<p>All artist profiles and their contributions are rated by individual SoundBank users. So you'll know at a glance if a particular recording is just what your project needs or not.</p>
  <br>
		<p>SoundBank covers the whole of Northern Ireland, bringing you the very newest and most interesting of artists. We also act as an in-between layer between bedroom artists and media professionals.</p>
  <br>
		<p>If you're itching for a low cost alternative to your worn out old audio pool, why not sign up now for free. See what all the noise is about.</p>
</div>

</center>