<center>
    <br>
    <p style="color: #91755B; font-style: bold; font-family: Cambria, Georgia; font-size: 36px; font-weight: bold;">Members Only Area</p>
     <hr>


<div style="background: #EFCBAA; width: 97%; padding: 10px; color: #001316; font-size: 16px; font-weight: bold; font-family: 'Trebuchet MS', Georgia; -moz-border-radius: 15px; border-radius: 15px;">

<div>
  <p>This is placeholder content for the upcoming Membership system!</p>
  <p>Time to get working on those databases I think.</p>
</div>
  
</div>


</center>