
        <script type="text/javascript">
        var prg_width = 200;
 
        function progress() {
            var node = document.getElementById('progress');
            var w    = node.style.width.match(/\d+/);
 
            if (w == prg_width) {
                w = 0;
            }
 
            node.style.width = parseInt(w) + 5 + 'px';
        }
 
        </script>

<br><br><br>
        <div style="border: 1px solid black; width:200px; height:5px;">
            <div id="progress" style="height:5px; width:0px; background-color:red;"/>
        </div>
 
 