<center>
    <br>
    

<div style="background:LightBlue;padding:20px; -moz-border-radius: 15px; border-radius: 15px;text-align:left;">	
<p style="color: #000000;font-family: Cambria, Georgia; font-size: 28px;">
	<%= @support.name %>
</p>
</div>
	

     <hr>


<div style="background: #d46e00; width: 97%; padding: 10px; color: #001316; font-size: 16px; font-weight: bold; font-family: 'Trebuchet MS', Georgia; -moz-border-radius: 15px; border-radius: 15px;">

<div>

<div style="background:pink;padding:20px; -moz-border-radius: 15px; border-radius: 15px;">
<%= @support.content %>
</div>


<div style="color: grey;text-align:left;">
<hr>
<%= link_to( image_tag('table-left.png'), "/supports", :style => 'background:inherit;float:left;' ) %>
&nbsp;&nbsp;&nbsp;
<a href="/supports" target="_parent" style="background:inherit;color:#001316;text-decoration: none;">Back</a>

</div>




</div>  
</div>
</center>